repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.7.1
  hooks:
    # Run the linter.
    - id: ruff
    # Run the formatter.
    - id: ruff-format

- repo: local
  hooks:
    - id: qmllint
      name: QML Lint
      entry: pyside6-qmllint
      language: system
      files: ^cogip/tools/monitor/.*\.qml$

    - id: qmlformat
      name: QML Format
      entry: pyside6-qmlformat --inplace
      language: system
      files: ^cogip/tools/monitor/.*\.qml$
