[Unit]
Description=COGIP Beaconcam

After=cogip-server-beacon.service
BindsTo=cogip-server-beacon.service

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-beaconcam
RestartSec=5
EnvironmentFile=/etc/environment
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
