<!DOCTYPE html>
<html style="font-size: 16px; height: 100%; margin: 0; font-family: Arial, Helvetica, sans-serif">

<head>
  <title>COGIP Dashboard</title>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="{{ url_for('static', path='css/prod/output.css') }}" />
  <style>
    input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: red;
        cursor: pointer;
        border-radius: 50%;
    }
    input[type='range']::-moz-range-thumb {
        width: 15px;
        height: 15px;
        background: red;
        cursor: pointer;
        border-radius: 50%;
    }
  </style>
</head>

<body class="flex flex-col h-full w-full bg-zinc-900 overflow-hidden" data-robot-id="{{ robot_id }}">
  {% if robot_id == 0 %}
  <ul class="flex flex-wrap border-b border-gray-200" role="tablist">
    <li class="mr-2" role="presentation">
      <button class="inline-block px-4 py-2 text-red-cogip border-b-2 border-red-cogip active focus:outline-hidden"
        id="beacon-tab" data-target="#beacon" type="button" role="tab" aria-controls="beacon" aria-selected="true">
        Beacon
      </button>
    </li>
  </ul>
  {% endif %}

  {% if robot_id == 0 %}
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="beacon" role="tabpanel" aria-labelledby="beacon-tab">
  {% endif %}

      <div class="flex flex-row flex-1 h-full">
        <div class="w-auto text-center h-minus-footer border-r border-grey-color" id="menu">
          <img src="static/img/cogip-logo.png" class="mx-auto h-10p py-2" />
          <div id="nav-tool" class="flex flex-col flex-1 h-full">
            ...
          </div>
        </div>

        <div>
          <canvas
            id="board" class="bg-contain" style="background-image: url(../static/img/ground2026.webp)">
          </canvas>
        </div>

        <div id="sidebar" class="flex flex-col items-center z-20 pt-2 px-2 gap-2">
          <button
            class="relative w-14 h-14 rounded-lg border border-gray-800 bg-zinc-300 bg-opacity-30 hover:bg-zinc-800 hover:opacity-70"
            id="buttonRefresh" type="button" onclick="location.reload();">
            <img src="{{ url_for('static', path='img/refresh.svg') }}" class="w-full h-full" />
          </button>

          {% if robot_id != 0 %}
          <button
            class="relative w-14 h-14 rounded-lg border border-gray-800 bg-zinc-300 bg-opacity-30 hover:bg-zinc-800 hover:opacity-70"
            id="buttonCameraModal" type="button" onclick="modalCamera()" data-bs-toggle="modal" data-bs-target="#cameraModal">
            <img src="{{ url_for('static', path='img/camera.svg') }}" class="w-full h-full" />
          </button>
          {% endif %}

          {% if robot_id == 0 %}
          <button
            class="relative w-14 h-14 rounded-lg border border-gray-800 bg-zinc-300 bg-opacity-30 hover:bg-zinc-800 hover:opacity-70"
            id="buttonCoundownModal" type="button" onclick="modalCountdown();">
            <img src="{{ url_for('static', path='img/countdown.svg') }}" class="w-full h-full" />
          </button>
          {% endif %}
        </div>
      </div>

      {% if robot_id == 0 %}
    </div>
  </div>
  {% endif %}

      <footer class="mt-auto bg-zinc-900 text-grey-color mx-2">
        <div class="container-lg p-2 flex items-center justify-between">
          <span class="text-muted inline" id="connection">
            <pre
              class="text-grey-color text-sm"><img class="mr-5 w-[20px]" src="{{ url_for('static', path='img/cross_red_circle.svg') }}" /></pre>
          </span>
          {% if robot_id != 0 %}
          <span class="text-muted text-sm inline" id="state">
            <pre id="state_robot"></pre>
            <pre id="order_robot"></pre>
          </span>
          <span class="text-muted text-sm z-10" id="starter">
            <label>
              <input type="checkbox" class="checked:accent-red-cogip checked:border-red-cogip" disabled> Starter
            </label>
          </span>
          {% endif %}
        </div>
      </footer>

  {% if robot_id != 0 %}
  <div id="cameraModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-zinc-900 rounded-lg shadow-lg max-w-4xl w-full">
      <div class="p-4 m-auto relative" id="displayFlux">
        <button type="button"
          class="absolute top-4 right-4 bg-transparent text-grey-color text-2xl leading-none hover:text-gray-400 focus:outline-hidden"
          aria-label="Close" onclick="closeModal('cameraModal')">&times;</button>
      </div>
    </div>
  </div>
  {% endif %}

  <div id="wizardModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div id="wizardModalContent" class="bg-zinc-900 rounded-lg shadow-lg w-full max-w-2xl">
      <div id="modalHeader" class="border-b border-gray-700 p-2">
        <h5 class="text-lg font-medium text-grey-color" id="wizardModalTitle"></h5>
      </div>
      <div id="modalBody" class="m-4 text-center">
        <span class="block text-lg font-medium text-grey-color" id="wizardName"></span>
        <input id="wizardInput" type="text" placeholder="" />
      </div>
      <div class="border-t border-gray-700 p-4 flex justify-end">
        <button id="btnSendWizard" type="button"
          class="bg-red-cogip border-red-cogip text-grey-color font-medium py-2 px-4 rounded-md">
          Send
        </button>
      </div>
    </div>
  </div>

  <div id="configModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div id="configModalContent" class="bg-zinc-900 rounded-lg shadow-lg w-[85vw] h-[85vh]">
      <div id="configModalHeader" class="flex items-center justify-between p-4 border-b border-gray-600">
        <h5 class="text-lg font-medium text-grey-color " id="configModalTitle"></h5>
        <button type="button" class="text-grey-color text-2xl leading-none hover:text-gray-400" aria-label="Close" onclick="closeModal('configModal')">&times;</button>
      </div>
      <div id="configModalBody" class="m-4 text-center overflow-y-auto max-h-88">
      </div>
    </div>
  </div>

  {% if robot_id != 0 %}
  <div class="fixed inset-0 z-50 hidden" id="scoreModal">
    <div class="flex h-full w-full p-4 text-center">
      <div class="w-full p-6 mx-auto bg-zinc-900 rounded-lg shadow-lg">
        <div class="flex items-center justify-between pb-4 border-b border-gray-600">
          <h5 class="text-lg font-medium text-grey-color">Score</h5>
          <button type="button" class="text-grey-color text-2xl leading-none hover:text-gray-400" aria-label="Close"
            onclick="closeModal('scoreModal')">&times;</button>
        </div>
        <div class="flex h-full items-center justify-center align-middle">
          <div class="align-middle text-grey-color text-1500p">
            <p class="m-auto" id="displayScore"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if robot_id == 0 %}
  <div class="fixed inset-0 z-50 hidden" id="countdownModal">
    <div class="flex h-full w-full p-4 text-center">
      <div class="w-full p-6 mx-auto bg-zinc-900 rounded-lg shadow-lg">
        <div class="flex items-center justify-between pb-4 border-b border-gray-600">
          <h5 class="text-lg font-medium text-grey-color">Countdown</h5>
          <button type="button" class="text-grey-color text-2xl leading-none hover:text-gray-400" aria-label="Close"
            onclick="closeModal('countdownModal')">&times;</button>
        </div>
        <div class="flex h-full items-center  align-left">
          <div class="align-left text-grey-color text-350p">
            <table>
              <tr>
                <td class="border border-gray-300 px-4">Robot 1</td>
                <td class="border border-gray-300 w-64 px-4" id="displayCountdown_1"></td>
              </tr>
              <tr>
                <td class="border border-gray-300 px-4">Robot 2</td>
                <td class="border border-gray-300 w-64 px-4"  id="displayCountdown_2"></td>
              </tr>
              <tr>
                <td class="border border-gray-300 px-4">Robot 3</td>
                <td class="border border-gray-300 w-64 px-4"  id="displayCountdown_3"></td>
              </tr>
              <tr>
                <td class="border border-gray-300 px-4">Robot 4</td>
                <td class="border border-gray-300 w-64 px-4"  id="displayCountdown_4"></td>
              </tr>
              <tr>
                <td class="border border-gray-300 px-4">Robot 5</td>
                <td class="border border-gray-300 w-64 px-4"  id="displayCountdown_5"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <script type="text/javascript" src="{{ url_for('static', path='js/external/socket.io.min.js') }}"></script>

  <script type="module">
    import * as socketModule from "../static/js/socketModule.js";
    import * as drawModule from "../static/js/drawModule.js";
    import * as cameraModule from "../static/js/cameraModule.js";
    import * as wizardModule from "../static/js/wizardModule.js";
    import * as configModule from "../static/js/configModule.js";
    import * as scoreModule from "../static/js/scoreModule.js";
    import * as countdownModule from "../static/js/countdownModule.js";
    import { virtualKeyboard } from "../static/js/keyboardModule.js";

    window.addEventListener("resize", drawModule.resizeCanvas, false);

    document.addEventListener("DOMContentLoaded", function (event) {
      const robotId = parseInt(document.getElementsByTagName('body')[0].dataset.robotId);

      drawModule.resizeCanvas(); // draw background
      virtualKeyboard.init(); // initialize keyboard

      const socketioPort = parseInt(window.location.port) + 10

      let socket = io.connect(`:${socketioPort}/dashboard`)
      socket.on("connect", function () {
        socketModule.onConnection(this);
      })
      .on("disconnect", function () {
          socketModule.onDisconnect();
        })
        .on("virtual", function (robot_id, msg) {
          document.querySelector("#starter input").disabled = !msg;
        })
        .on("tool_menu", function (menu) {
          socketModule.onMenu(menu, "tool", this);
          virtualKeyboard._actualize();
        })
        .on("pose_current", function (robot_id, msg) {
          drawModule.updatePoseCurrent(robot_id, msg);
        })
        .on("pose_order", function (robot_id, msg) {
          drawModule.updatePoseOrder(robot_id, msg);
        })
        .on("wizard", function (msg) {
          wizardModule.openWizardModal(msg, this);
          virtualKeyboard._actualize();
        })
        .on("close_wizard", function () {
          document
            .getElementById("wizardModal")
            .setAttribute("style", "display: none;");
          virtualKeyboard.close();
        })
        .on("state", function (robot_id, msg) {
          drawModule.displayMsg(robot_id, msg); // uses message to display information in bottom page
        })
        .on("path", function (robot_id, msg) {
          drawModule.recordPath(robot_id, msg);
        })
        .on("obstacles", function (robot_id, msg) {
          drawModule.updateObstacles(robot_id, msg);
        })
        .on("starter_changed", function(pushed) {
          document.querySelector("#starter input").checked = pushed;
        })
        .on('config', function(msg) {
          configModule.openConfigModal(msg, this);
          virtualKeyboard._actualize();
        });

      // add event listener on click for starter input
      document.querySelector("#starter input")?.addEventListener("click", function () {
        socket.emit("starter_changed", this.checked);
      });

      if (robotId !== 0) {
        import("../static/js/scoreModule.js").then((scoreModule) => {
          socket.on("score", function (score) {
            if (scoreModule.openScoreModal) {
              scoreModule.openScoreModal(score);
            }
          });
          socket.on("close_score", function () {
            const scoreModal = document.getElementById("scoreModal");
            if (scoreModal) {
              scoreModal.classList.remove("flex");
              scoreModal.classList.add("hidden");
            }
          });
        }).catch((err) => {
          console.error("Failed to load scoreModule:", err);
        });
      } else {

        import("../static/js/countdownModule.js").then((countdownModule) => {
          socket.on("start_countdown", function (robot_id, countdown, start, color=null) {
            if (countdownModule.openCountdownModal) {
              countdownModule.openCountdownModal(robot_id, countdown, start, color);
            }
          });
          socket.on("close_countdown", function () {
            const countdownModal = document.getElementById("countdownModal");
            if (countdownModal) {
              countdownModal.classList.remove("flex");
              countdownModal.classList.add("hidden");
            }
          });
        }).catch((err) => {
          console.error("Failed to load countdownModule:", err);
        });

        socketModule.setupTabEventListener(
            "beacon-tab",
            "beacon",
            socket,
            null // No iframe to update for beacon
        )
        socket.on("add_robot", function (robot_id) {
          console.log(`Add robot ${robot_id} dashboard on http://robot${robot_id}:808${robot_id}`);
          drawModule.addNewTab(robot_id, this);
          socketModule.setupTabEventListener(
            `robot${robot_id}-tab`,
            `robot${robot_id}`,
            socket,
            (robotId) => `http://robot${robotId}:808${robotId}`
          );
        })

        socket.on("del_robot", function (robot_id) {
          console.log(`Delete robot ${robot_id} dashboard`);
          drawModule.deleteTab(robot_id);
        })
      }
    });

  </script>
</body>

</html>
