[Unit]
Description=COGIP Robotcam

# cogip-detector and cogip-robotcam are both using a USB device (e.g., Lidar and Camera),
# ensure detector starts first to avoid device contention.
After=cogip-detector.service
# A start failure of detector must not prevent robotcam from starting.
Wants=cogip-detector.service

[Service]
Type=notify
Restart=on-failure
WorkingDirectory=/opt
ExecStart=/opt/.venv/bin/python -m cogip.tools.robotcam
RestartSec=5
EnvironmentFile=/etc/environment
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
