[Unit]
Description=COGIP Server

Wants=network.target
After=network.target

[Service]
Type=notify
Restart=on-failure
WorkingDirectory=/opt
ExecStartPre=/bin/sh -c 'rm -rf /dev/shm/*'
ExecStart=/opt/.venv/bin/python -m cogip.tools.server
RestartSec=5
EnvironmentFile=/etc/environment
StandardOutput=null
StandardError=null
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
