[Unit]
Description=COGIP Detector

Wants=network.target
After=cogip-server.service
Requires=cogip-robotcam.service
BindsTo=cogip-server.service

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-detector
RestartSec=5
EnvironmentFile=/etc/environment
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
