[Unit]
Description=COGIP Dashboard

After=cogip-server.service
BindsTo=cogip-server.service

[Service]
Type=notify
Restart=on-failure
WorkingDirectory=/opt
ExecStart=/opt/.venv/bin/python -m cogip.tools.dashboard
RestartSec=5
EnvironmentFile=/etc/environment
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
