[Unit]
Description=COGIP Dashboard

Wants=network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-dashboard
RestartSec=5
EnvironmentFile=/etc/environment
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
