[Unit]
Description=COGIP Copilot

After=cogip-server.service
BindsTo=cogip-server.service

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=uv run cogip-copilot
RestartSec=5
EnvironmentFile=/etc/environment
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
