name: Build Documentation using MkDocs
on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build Documentation
    runs-on: ubuntu-24.04
    steps:
      - name: Install Debian dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -qq libegl1 libsystemd-dev swig liblgpio-dev libcap-dev

      - name: Git checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.11"
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Install dependencies
        run: uv sync --no-install-project

      - name: Build doc
        run: uv run --no-sync --no-project mkdocs build

      - name: Minimize uv cache
        run: uv cache prune --ci
